@import url("public.css");
.hid{display: none;}
.main-wrap{
    width: 100%;
}
#main{
    width: 1200px;
    height: calc(100% - 60px);
    margin: 0 auto;
}
#main .opera-wrap{
    padding:20px 0;
}
#main .opera-wrap .hello-font{
    float: left;
    font-size: 24px;
    color: #333;
}
#main .opera-btn{
    float: right;
    color: #fff;
}
#main .opera-btn span{
    float: left;
    display: inline-block;
    height: 36px;
    width: auto;
    min-width: 36px;
    padding: 0 3px;
    background-color: #4696E7;
    line-height: 36px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}
#main .opera-btn .icon-jia{
    margin-left: 10px;
}
#main .opera-btn .searchBtn input{
    border: none;
    width: 0;
    background-color: #4696E7;
    color: #fff;
    font-size: 16px;
    margin-top: 7px;
    padding-right: 28px;
}
.barstretch input{
    transition: width 1s;
}
.barstretch:hover input{
    width:200px !important;
}
.barfewer input{
    width:200px !important;
}

#main .opera-btn .searchBtn em{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 18px;
}

/*弹框*/
#addUseDiv{
    padding: 0 22px;
}
#addUseDiv li{
    border-bottom: 1px solid #E5E5E5;
}
#addUseDiv .must-tip{
    color: red;
    width: 10px;
    display: inline-block;
}
#addUseDiv label{
    width: 100%;
    height: 59px;
    line-height: 59px;
    display: inline-block;
}
#addUseDiv input{
    float: right;
    width: calc(100% - 90px);
    height: 57px;
    line-height: 57px;
    text-align: right;
    border: none;
    font-size: 16px;
}
#addUseDiv>div{
    position: absolute;
    bottom: 22px;
    right: 22px;
}
#addUseDiv>div button:first-child{
    margin-right: 10px;
}
#addUseDiv .spanStop,#addUseDiv .spanStar{
    float: right;
    margin-top: 20px;
}
#nameData{
    width: 100%;
}
#nameData tbody tr td:first-child span{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #4696E7;
    border-radius: 25px;
}
#nameData tbody tr td:first-child span em{
	font-style:normal;
	text-align: center;
    width:25px;
    display: block;
    margin: 0 auto;
    color: #fff;
}
